[flake8]
max-line-length = 88
extend-ignore = E203, W503
exclude =
.git,
__pycache__,
.venv,
env,
venv,
migrations,
.tox,
.pytest_cache,
build,
dist,
docs
per-file-ignores =
__init__.py: F401
tests/__init__.py: F401
tests/conftest.py: E402
*/migrations/*.py: E501
select =
B,
C,
E,
F,
W,
B950
max-complexity = 10